$c-Orange: hsl(26, 100%, 55%);
$c-Pal-orange: hsl(25, 100%, 94%);
$c-blue: hsl(228, 45%, 44%);
//### Neutral
$c-Very-vark-blue: hsl(220, 13%, 13%);
$c-Dark-grayish-blue: hsl(219, 9%, 45%);
$c-light-black: hsl(216, 3%, 66%);

$c-Grayish-blue: hsl(221, 21%, 85%);
$c-Grayish-blue-border: hsl(210, 8%, 90%);

$c-Light-grayish-blue: hsl(223, 64%, 98%);
$c-White: hsl(0, 0%, 100%);
$c-Black: hsl(0, 0%, 0%);
// (with 75% opacity for lightbox background)