//***********************
//* DEVICES
//************************/
$d-tablet: 768px;
$d-laptop: 1024px;
$d-laptop-l: 1440px;

// ### Body Copy
$c-Smfont-size: 12px;
$c-mfont-size: 14px;
$c-lfont-size: 16px;
$c-xlFont-size: 26px;

//(paragraph)
/***********************
* TYPOGRAPHY
************************/
$fw-normal: 300;
$fw-semi-normal: 400;
$fw-black: 700;
$fw-bold: 900;

$m-base: 1rem;
$p-base: 1rem;

$ff-kumbh: "Kumbh Sans", sans-serif;

// header height
$headerHeight: 60px;