@import "../styles/styles.scss";

.hero__price{
    padding: $p-base;

&__holder{
    display: flex;
    justify-content: space-between;
    padding: $p-base $p-base 0 0;
}
&__container{
  width: 118px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
        

}
&__main{
  font-weight: $fw-black;
    

    
}
&__discount{
    width: 50px;
    background-color: $c-Pal-orange;
    color: $c-Orange;
    text-align: center;
    font-weight: $fw-black;
    border-radius: 5px;
    

}
&__original{
       font-weight: $fw-bold;
        color: $c-light-black;
        opacity: .7;
        text-decoration: line-through;
        

}
&__counter__section{
    width: 100%;
    border-radius: 10px;
    height: 56px;
    background-color: $c-Light-grayish-blue;
    border: 1px solid $c-Light-grayish-blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: $m-base*1.5;
}
&__counter__btn__minus{
         border: none;
        background-color: transparent;
        &:hover {
            opacity: 0.5;
        }

}
&__counter__text{
    font-weight: $fw-black;
}
&__counter__btn__plus{
         border: none;
        background-color: transparent;
        &:hover {
            opacity: 0.5;
        }
    }
&__cart{
    border: none;
    margin: 1rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 56px;
    background-color: $c-Orange;
}
&__cart__icon{
    width: 15px;
    height: 15px;

}
&__cart__text{
  color: $c-White;
  font-size: $c-mfont-size;
  margin-left:$m-base ;

}
}