@import "../styles/styles.scss";

.hero{
    width: 100%;
&__container{
    width: 100%;
}
&__image{
    width: 100%;
    @include laptop-query{
        
    }
}
&__content{
    padding: $p-base;
}
&__content__header{
    text-transform: uppercase;
    color: $c-Orange;
    font-size: $c-Smfont-size;
    font-weight: $fw-bold;
    letter-spacing: 0.15rem;
    box-shadow: $c-Pal-orange;
}
&__content__title{
    padding-top:$p-base ;
    width: 259px;
    font-size: 28px; 
    padding-top: 0.9rem;
    font-weight: $fw-black;
    padding-bottom: $p-base;
}
&__content__text{
    color: $c-Dark-grayish-blue;
    font-weight: $fw-semi-normal;
    font-size: 15px;
    opacity: 0.9;
}
}


